<div class="modal fade" id="change-theme-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change theme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div
            *ngFor="let theme of availableThemes"
            class="col-3 theme-card py-2"
            [ngClass]="getThemeClass(theme)"
            (click)="changeTheme(theme)"
          >
            {{theme}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Pick</button>
      </div>
    </div>
  </div>
</div>
