<!-- Modal -->
<div class="modal fade" id="add-chat-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Join a chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control"
          placeholder="Chat name"
          aria-label="chat"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Join</button>
      </div>
    </div>
  </div>
</div>
