.input-chat-container {
  display: flex;
  align-items: center;

  .input-chat {
    min-height: 65px;
  }
}

.chat-msg-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.config-btn {
  margin-left: auto;
  button {
    height: 104%;
  }
}
